
html,body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
#foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#foot a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.2s;
}
#foot a:hover {
    text-decoration: underline;
}