{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - BookFlow</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <div class="container">
        <h1>About Rate My Show</h1>
        <p>This project is designed and developed by:</p>
        <ul>
            <li><strong>A Kishan Reddy</strong> - 224G1A3338</li>
            <li><strong>P Manoj Srivastav</strong> - 224G1A3351</li>
        </ul>
        <p>
            Book My Show is a movie-rating platform.
            Users can browse through a wide range of movies, rate them, and view what others think.
            It is created as a simple and clean replica for educational and learning purposes.
        </p>
    </div>
</body>
</html>
