{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookFlow{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main>
        {% block main %}
        {% endblock %}
    </main>

<footer>
        <div id="foot">
            <span>Book My Show</span>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </footer>
</body>
</html>
