{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - BookFlow</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p>If you have any questions or feedback, feel free to reach out to us:</p>


        <div class="contact-info">
            <h3>A Kishan Reddy</h3>
            <p>Email: <a href="mailto:224g1a3338@srit.ac.in">224g1a3338@srit.ac.in</a></p>
            <p>Mobile: <a href="tel:+918332826271">+91 8332826271</a></p>
        </div>
    </div>
        <div class="contact-info">
            <h3>P Manoj Srivastav</h3>
            <p>Email: <a href="mailto:224g1a3351@srit.ac.in">224g1a3351@srit.ac.in</a></p>
            <p>Mobile: <a href="tel:+916304974839">+91 6304974839</a></p>
        </div>
</body>
</html>
